<a class="btn" href="#">
  <span class="highlight-gradient">Learn More</span>
</a>
<style>
  .btn {
    background-image: var(--gradient1);
    border-radius: 40px;
    box-sizing: border-box;
    display: block;
    letter-spacing: 1px;
    padding: 2px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    z-index: 2;
  }

  .btn span {
    align-items: center;
    background: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
</style>
