---
interface Props {
  name: string;
  icon: string;
  description: string;
  sidebar: boolean;
}

const { name, icon, description, sidebar } = Astro.props;
---

<div class="container mt-3 mb-5">
  <div>
    <img src={icon} alt="" />
    <!-- {sidebar ? <div class="vl" /> : null} -->
  </div>
  <div class="right-side">
    <h3>{name}</h3>
    <p>{description}</p>
  </div>
</div>

<style>
  .container {
    grid-template-columns: 2fr 10fr;
    display: grid;
  }
  .vl {
    border-left: 2.5px solid var(--grey2);
    height: 100%;
  }
  .right-side {
    padding-top: 0.75em;
  }
  @media only screen and (max-width: 600px) {
    p {
      text-align: justify;
    }

    .container {
      padding: 0;
    }
  }
</style>
