---

---

<div class="row input-row mb-5">
  <div class="gradient-border-mask col-6">
    <input type="text" class="gradient-input" placeholder="@gmail.com" />
  </div>

  <div class="btn btn-sign-in col-2 al">Get Early Access</div>
</div>

<style>
  .gradient-border-mask {
    display: flex;
    justify-content: end;
    padding: 0.2vh 0.2vw;
  }

  .btn-sign-in {
    background: var(--gradient1);
    min-width: 100px; /* Ensure button is not too narrow on small screens */
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0.5rem; /* Adjusted for consistency */
    cursor: pointer; /* Indicates clickable */
    border-radius: 16px; /* Optional: Rounds the corners like input */
  }

  input::placeholder {
    color: transparent;
    background: var(--gradient1);
    background-clip: text;
    -webkit-background-clip: text;
  }

  input:focus {
    outline: none;
    border-color: #ff0000;
    box-shadow: none;
  }

  input {
    --r: 15px; /* radius */
    --b: 2px; /* border width */

    padding: 0.5rem;
    border: var(--b) solid transparent;
    border-radius: var(--r);
    background-image: linear-gradient(white, white), var(--gradient1);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    width: 100%; /* Makes input flexible */
    max-width: 264px; /* Ensures it doesn't get too large */
    position: relative;
    z-index: 0;
    text-decoration: none;
  }

  @media only screen and (max-width: 768px) {
    .gradient-border-mask,
    .btn-sign-in {
      padding: 1rem; /* Increases padding for better touch targets */
      width: auto; /* Allows elements to fill available space */
      justify-content: center; /* Centers content within */
    }

    input,
    .btn-sign-in {
      height: auto; /* Adjusts height for better readability and tapability */
      padding: 10px; /* Adjusts padding for better touch interaction */
    }

    .row,
    .input-row {
      flex-direction: column; /* Stacks elements vertically on small screens */
      align-items: center; /* Centers the children horizontally */
      justify-content: center; /* Adjust if necessary for vertical centering */
    }

    .btn-sign-in {
      width: calc(100% - 12rem);
      margin-top: 1rem;
      border-radius: 16px; /* Adds space between input and button */
    }
  }
</style>
