@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
.accordion-content ol {
  list-style-type: decimal !important; /* Ensure numbers are shown */
  padding-left: 20px; /* Adjust padding to show numbers inside component */
  margin-left: 0px;
}

.accordion-content li {
  list-style-type: none; /* Remove style from li to ensure only ol controls the numbering */
  margin-bottom: 10px; /* Space between list items */
}

.accordion-container {
  display: flex;
  justify-content: center;
}

#faq {
  background: radial-gradient(
      circle at 20% 30%,
      rgba(250, 65, 120, 0.03),
      transparent 60%
    ),
    radial-gradient(
      circle at 70% 60%,
      rgba(250, 65, 120, 0.03),
      rgba(255, 99, 76, 0.03) 60%
    );
}

.gradient-border-mask {
  display: flex;
  justify-content: end;
  padding: 0.2vh 0.2vw;
}

.btn-sign-in {
  background: var(--gradient1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0.5rem; /* Adjusted for consistency */
  cursor: pointer; /* Indicates clickable */
  border-radius: 16px; /* Optional: Rounds the corners like input */
  height: 100%; /* Ensures button height matches the input */
  max-width: 150px; /* Sets a maximum width for the button */
}

input::placeholder {
  color: transparent;
  background: var(--gradient1);
  background-clip: text;
  -webkit-background-clip: text;
}

input:focus {
  outline: none;
  border-color: #ff0000;
  box-shadow: none;
}

input {
  --r: 15px; /* radius */
  --b: 2px; /* border width */

  padding: 0.5rem;
  border: var(--b) solid transparent;
  border-radius: var(--r);
  background-image: linear-gradient(white, white), var(--gradient1);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  width: 100%; /* Makes input flexible */
  max-width: 264px; /* Ensures it doesn't get too large */
  position: relative;
  z-index: 0;
  text-decoration: none;
  height: 100%; /* Ensures input height matches the button */
}

@media only screen and (max-width: 768px) {
  .gradient-border-mask,
  .btn-sign-in {
    padding: 1rem; /* Increases padding for better touch targets */
    width: auto; /* Allows elements to fill available space */
    justify-content: center; /* Centers content within */
  }

  input,
  .btn-sign-in {
    height: auto; /* Adjusts height for better readability and tapability */
    padding: 10px; /* Adjusts padding for better touch interaction */
  }

  .row,
  .input-row {
    flex-direction: column; /* Stacks elements vertically on small screens */
    align-items: center; /* Centers the children horizontally */
    justify-content: center; /* Adjust if necessary for vertical centering */
  }

  .btn-sign-in {
    width: calc(100% - 12rem);
    margin-top: 1rem;
    border-radius: 16px; /* Adds space between input and button */
  }
}
#signupForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; /* Adds space between the input and button */
}
#signupForm button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#signupForm_subcontainer {
  display: flex;
  align-items: center;
}
