---
import Layout from "../layouts/Layout.astro";
import SignUp from "../components/SignUp.astro";
import NavbarTop from "../components/NavbarTop.astro";
import Feature from "../components/Feature.astro";
import Benefits from "../components/Benefits.astro";
import Customer from "../components/Customer.astro";
import Faq from "@/components/faq.astro";
import EarlyAcess from "@/components/EarlyAcess.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="GameUp">
  <div class="root">
    <NavbarTop />
    <SignUp />
    <Feature />
    <div class="px-sm-5">
      <Benefits />
    </div>
    <!-- <Customer /> -->
    <Faq />
    <EarlyAcess />
    <div class="">
      <Footer />
    </div>
  </div>
</Layout>
<style>
  .root {
    padding: 0vh 0vw 0vh 0vw;
  }
  @media only screen and (max-width: 600px) {
    html {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    body {
      width: 100%;
    }
  }
</style>
