---
import Layout from '../layouts/Layout.astro';
import SignUp from '../components/SignUp.astro';
import NavbarTop from '../components/NavbarTop.astro';
import Feature from '../components/Feature.astro';
import Benefits from '../components/Benefits.astro';
import Customer from '../components/Customer.astro';
import Faq from '@/components/faq.astro';
import EarlyAcess from '@/components/EarlyAcess.astro';
---

<Layout title="GameUp">
  <div class="root">
    <NavbarTop />
    <SignUp />
    <Feature />
    <Benefits />
    <Customer />
    <Faq />
    <EarlyAcess />
  </div>

  <style>
    .root {
      padding: 0vh 0vw 0vh 0vw;
    }
  </style>
</Layout>
