---
import Layout from "../layouts/Layout.astro";
import NavbarTop from "../components/NavbarTop.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="GameUp - Refund Policy">
  <!-- Refund Policy -->
  <NavbarTop />
  <div class="container mt-5 mb-5">
    <h2 class="mb-4 text-center">Refund Policy</h2>
    <p><strong>Last Updated: 9/10/2024</strong></p>

    <p>
      At GameUp Technologies, we strive to provide the best possible experience with our AI dating assistant services.
      Please read our Refund Policy carefully before making any purchase.
    </p>

    <h3 class="mt-4">1. No Refunds</h3>
    <p>
      All purchases of credits for accessing AI advice and insights are final and non-refundable. We do not offer
      refunds for any reason, including but not limited to unused credits, dissatisfaction with the Service, or
      accidental purchases.
    </p>

    <h3 class="mt-4">2. Service Issues</h3>
    <p>
      If you experience technical issues or other problems with the Service, please contact our support team at [support
      email]. We will do our best to resolve any issues promptly. However, resolving service issues does not entitle the
      user to a refund.
    </p>

    <h3 class="mt-4">3. Changes to the Refund Policy</h3>
    <p>
      GameUp Technologies reserves the right to modify or update this Refund Policy at any time. Changes will be
      effective immediately upon posting to our website or app. It is your responsibility to review the Refund Policy
      periodically for changes.
    </p>

    <h3 class="mt-4">4. Contact Information</h3>
    <p>
      If you have any questions about our Refund Policy, please contact us at <a href="mailto:gameup.ai@gmail.com"
        >gameup.ai@gmail.com</a>
    </p>

    <p>
      By using GameUp Technologies, you acknowledge that you have read, understood, and agree to this Refund Policy.
    </p>
  </div>
  <Footer />
</Layout>
<style>
  .root {
    padding: 0vh 0vw 0vh 0vw;
  }
  @media only screen and (max-width: 600px) {
    html {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    body {
      width: 100%;
    }
  }
  p {
    text-align: justify;
  }
</style>
