---
import GradientButton from './sub-components/GradientButton.astro';
import ListBenefits from './sub-components/ListBenefits.astro';
---

<div id="container">
  <div class="grid px-5">
    <div class="md:p-5 pt-4">
      <div class="md:p-5 pt-0">
        <h1>Unlock Your Dating Potential With GameUp</h1>
        <p>
          Whether you’re just breaking the ice or deepening a conversation, GameUp’s intelligent prompts, tips,
          and personalized feedback help you achieve your relationship goals. Don’t let conversations lose their
          excitement – keep your love interests coming back
        </p>
        <GradientButton text="Sign In" />
      </div>
    </div>
    <div class="p-5 pt-2">
      <ListBenefits
        name="Step-by-Step"
        icon="/images/icons/step-by-step.png"
        description="Our online dating assistant reviews your chat interactions, AI-generatedsuggestions to keep the conversation fresh and compelling. By understanding yourconversational style, it guides your response every step of the way. "
        sidebar={true}
      />
      <ListBenefits
        name="Ai Assistance"
        icon="/images/icons/AI-As.png"
        description="Every conversation is an opportunity to master the art of rizz. You’ll have ready-to-go suggestions no matter what your future partner says. Learn from the recommendations to boost your conversation skills."
        sidebar={true}
      />
      <ListBenefits
        name="In-Depth Conversation Analysis"
        icon="/images/icons/convo.png"
        description="Conversations are a constant back-and-forth. GameUp digs into your chat history, identifying patterns and areas for improvement. Each suggestion reflects the previous responses, keeping the conversation flowing. "
        sidebar={true}
      />
      <ListBenefits
        name="Flirtiness Levels"
        icon="/images/icons/flirt.png"
        description="Get a ‘game’ or ‘flirtiness’ level based on your conversation. It assesses whether your interactions are sizzling or fizzling. Either way, GameUp’s got your back – even if your pickup lines are a little corny. "
        sidebar={true}
      />
    </div>
  </div>
</div>

<style type="text/css">
  #container {
    background-color: white;
  }
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 14vw 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 14vw;
  }

  @media only screen and (max-width: 600px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
</style>
