---
import { CarouselSpacing } from "./sub-components/Customer";
---

<div id="main-container ">
  <div id="top-row">
    <div id="top-text" class="flex flex-col sm:pl-4">
      <div class="sm:p-5 px-2">
        <h1>See How GameUp Users Found Their Perfect Match</h1>
        <p class="text-justify">
          Ready to meet your future partner? You’re not alone. GameUp users report deeper conversations, more dates, and
          greater chemistry.
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <img src="/images/customer/CustomerBackground.png" />
    </div>
  </div>
  <div id="bottom-row">
    <CarouselSpacing client:only="react" />
  </div>
</div>

<style>
  /*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

  #top-row {
    background-color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  #bottom-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #main-container {
    background-color: white;
  }
  @media screen and (max-width: 425px) {
    #top-row {
      display: flex;
      flex-direction: column-reverse;
    }
  }
</style>
