---
import SignUpForm from "./sub-components/SignUpForm.astro";
---

<div class="container flex justify-center flex-col text-center py-5">
  <h1>Get Early Access Today!</h1>
  <p class="py-2">Sign up now to get exclusive access and AI-Generated dating suggestions</p>
  <SignUpForm />
</div>
