---
import {AccordionComponent} from "@/components/sub-components/Accordian";
import TransperantGradientButton from "@/components/sub-components/TransperantGradientButton.astro";
import GradientButton from "@/components/sub-components/GradientButton.astro";

---

<div id="faq" class="flex justify-center flex-col mt-5 p-5">
  <!-- <div class="circle-container"></div> -->
  <div class="header py-2">
    <h1>Frequently Asked Questions</h1>
  </div>
  <AccordionComponent client:only="react" />
  <div id="questions" class="py-2">
    <h2>Still have questions</h2>
    <p>Contact our support team for further assistance</p>
    <GradientButton text="Contact" link="#" />
  </div>
</div>

<style>
  #questions {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .header {
    text-align: center;
  }
  .circle-container {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.5), transparent 100%);
    -webkit-filter: blur(300px);
    filter: blur(300px);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(20px);
  }

  .circle-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--gradient1);
    -webkit-filter: blur(400px);
    filter: blur(400px);
    z-index: -1;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
  }


</style>
