---

---

<div class="container main-grid">
  <div class="">
    <h1>
      Boosting your Dating skills <br />
      with AI-Assisted
    </h1>
    <p>
      GameUp 
    </p>


  </div>
  <div>hello</div>
</div>

<style>
  .main-grid {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
</style>
