---
import GradientButton from "./sub-components/GradientButton.astro";
import LearnMore from "./sub-components/GradientButton.astro";
---

<div class="container">
  <div class="main-grid m-3 m-sm-5 ">
    <div class="initial-title md:p-5 text-justify">
      <div>
        <h1>Boost Your Dating Skills with AI-Assisted Flirting</h1>
        <p>
          From chat to charm – GameUp’s AI dating assistant analyses your conversation, providing personalized
          suggestions based on your previous conversations. Say goodbye to cookie-cutter replies and hello to sounding
          authentically like yourself.
        </p>
      </div>

      <div class="sub-grid mt-5">
        <div>
          <div class="icon-title">
            <img src="/images/icons/AI.png" alt="" />
            <h2>AI- Powered</h2>
          </div>
          <p>
            Get real-time feedback and actionable suggestions to level up your flirting game. Our advanced AI analyses
            your conversations, pinpointing opportunities to forge stronger connections.
          </p>
        </div>
        <div>
          <div class="icon-title">
            <img src="/images/icons/PT.png" alt="" />
            <h2>Personalized Tips</h2>
          </div>
          <p>
            Keep your love interests intrigued and engaged with captivating conversations. GameUp personalizes its
            recommendations to avoid sounding generic. Be unmistakably you – with a bit of AI help.
          </p>
        </div>
        <div class="col-6">
          <GradientButton text="Learn More" />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center feature-img">
      <img class="" src="/images/Features1.png" />
      <div class="circle-container"></div>
    </div>
  </div>
</div>

<style>
  .main-grid {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
  :root {
    --gradient1: linear-gradient(90deg, rgba(250, 65, 120, 1) 0%, rgba(255, 99, 76, 1) 100%);
  }

  #hero-container {
    font-family: "Work Sans", sans-serif;
    padding: 4% 20px; /* Add some padding to the container */
  }

  #hero-container h1 {
    text-align: center;
    font-weight: 600;
  }

  .highlight-gradient {
    background: var(--gradient1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subtext {
    margin: 1em 0.5em 0.5em 0.5em;
    color: var(--grey1);
    text-align: center;
    font-family: "Works Sans", sans-serif;
    font-size: 14px; /* Adjust font size for mobile */
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; /* Allow items to wrap to next line on small screens */
  }

  .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; /* Take full width on small screens */
    max-width: 100%; /* Ensure images don't overflow */
  }

  .circle-container {
    display: none; /* Hide the circle container on small screens */
  }

  @media only screen and (min-width: 600px) {
    /* Apply styles for screens larger than 600px */
    .col-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; /* Take half width on larger screens */
      max-width: 50%; /* Ensure images don't overflow and are side by side */
    }

    .circle-container {
      display: block; /* Show the circle container on larger screens */
      /* Add your circle container styles here if needed */
    }
  }

  @media only screen and (max-width: 600px) {
    #first-img {
      padding-right: 1.4em;
    }
    img {
      display: none;
      width: 0;
    }
    .main-grid {
      grid-template-columns: 1fr;
    }
  }
  @media only screen and (min-width: 850px) and (max-width: 1024px) {
    .feature-img img {
      height: 370px;
      width: 340px;
    }
  }
</style>
