---

---

<div class="footer-root py-5">
  <footers id="lab_social_icon_footer">
    <!-- Include Font Awesome Stylesheet in Header -->

    <div class="container">
      <div class="d-flex justify-content-center py-2">
        <div class="px-2 text-links">Terms of use</div>
        <div class="px-2 text-links">Privacy Policy</div>
        <div class="px-2 text-links">FAQ</div>
      </div>
      <div class="text-center center-block d-flex justify-content-center py-2 icons">
        <div class="px-3">
          <a href="https://plus.google.com/+Bootsnipp-page">
            <img src="/images/icons/socials/facebook.png" />
          </a>
        </div>
        <div class="px-3">
          <a href="https://plus.google.com/+Bootsnipp-page">
            <img src="/images/icons/socials/instagram.png" />
          </a>
        </div>
        <div class="px-3">
          <a href="https://plus.google.com/+Bootsnipp-page">
            <img src="/images/icons/socials/twitter.png" />
          </a>
        </div>
        <div class="px-3">
          <a href="https://plus.google.com/+Bootsnipp-page">
            <img src="/images/icons/socials/linktree.png" />
          </a>
        </div>
        <div class="px-3">
          <a href="https://plus.google.com/+Bootsnipp-page">
            <img src="/images/icons/socials/tiktok.png" />
          </a>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <img src="/images/footer-logo.png" />
      </div>
    </div>
  </footers>
</div>
<style>
  .footer-root {
    background-color: #fdb5cb;
  }
  footer {
    background-color: #fdb5cb;
  }
  #lab_social_icon_footer {
    padding: 40px 0;

    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
  .text-linkts #lab_social_icon_footer a {
    color: #333;
  }

  .icons img {
    width: 40px;
  }
  #lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  #lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }
  /*
    Multicoloured Hover Variations
*/

  #lab_social_icon_footer #social-fb:hover {
    color: #3b5998;
  }

  #lab_social_icon_footer #social-tw:hover {
    color: #4099ff;
  }

  #lab_social_icon_footer #social-gp:hover {
    color: #d34836;
  }

  #lab_social_icon_footer #social-em:hover {
    color: #f39c12;
  }
</style>
