---

---

<footer>
  <div class="container d-flex justify-content-center py-5">
    <div class="row d-grid links">
      <div><a href="#">Terms of Use</a></div>
      <div><a href="#">Privacy Policy</a></div>
      <div><a href="#">FAQ</a></div>
    </div>
  </div>
  <div class="container socials d-flex socials justify-content-center">
    <div><img src="images/icons/socials/facebook.png" /></div>
    <div><img src="images/icons/socials/instagram.png" /></div>
    <div><img src="images/icons/socials/twitter.png" /></div>
    <div><img src="images/icons/socials/linktree.png" /></div>
    <div><img src="images/icons/socials/tiktok.png" /></div>
  </div>
</footer>

<style type="text/css">
  footer {
    background-color: #fdb5cb;
  }
  .links {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  a {
    font-size: 16px;
    font-family: 'Geist';
    text-decoration: none;
    color: black;
    text-align: center;
  }
  .socials {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .socials div {
    margin: 10px;
  }
</style>
