---
import SignUpForm from './sub-components/SignUpForm.astro';
---

<div class="container" id="hero-container">
  <div class="mb-4">
    <h1>
      Master your <span class="highlight-gradient">Dating Game</span> With
      <br />AI-Powered Chat Coaching
    </h1>
    <p class="subtext">
      Upload your screenshot and get the level of flirtness with AI suggestions
    </p>
  </div>

  <SignUpForm class="mb-5" />
  <div class="row d-flex">
    <div class="circle-container"></div>
    <div id="first-img" class="col-6 d-flex justify-content-end">
      <img src="/public/images/HeroContainer1.png" />
    </div>
    <div class="col-6">
      <img src="/public/images/HeroContainer2.png" />
    </div>
  </div>
</div>

<style>
  :root {
    --gradient1: linear-gradient(
      90deg,
      rgba(250, 65, 120, 1) 0%,
      rgba(255, 99, 76, 1) 100%
    );
  }

  #hero-container {
    font-family: 'Work Sans', sans-serif;
    padding: 4% 20px; /* Add some padding to the container */
  }

  #hero-container h1 {
    text-align: center;
    font-weight: 600;
  }

  .highlight-gradient {
    background: var(--gradient1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subtext {
    margin: 1em 0.5em 0.5em 0.5em;
    color: var(--grey1);
    text-align: center;
    font-family: 'Works Sans', sans-serif;
    font-size: 14px; /* Adjust font size for mobile */
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; /* Allow items to wrap to next line on small screens */
  }

  .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; /* Take full width on small screens */
    max-width: 100%; /* Ensure images don't overflow */
  }

  .circle-container {
    display: none; /* Hide the circle container on small screens */
  }

  @media only screen and (min-width: 600px) {
    /* Apply styles for screens larger than 600px */
    .col-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; /* Take half width on larger screens */
      max-width: 50%; /* Ensure images don't overflow and are side by side */
    }

    .circle-container {
      display: block; /* Show the circle container on larger screens */
      /* Add your circle container styles here if needed */
    }
  }

  @media only screen and (max-width: 600px) {
    #first-img {
      padding-right: 1.4em;
    }
  }
</style>
